<launch>
  <arg name="rosbag" doc="rosbag file path" />
  <arg name="compress" default="false" doc="whether compress rosbag or not." />
  <arg name="other_topics" default=""/>
  <arg name="use_regex" default="true" doc="whether include regex in topics or not." />
  <arg name="other_options" default=""/>

  <arg if="$(arg compress)" name="compress_flag" value="--bz2" />
  <arg unless="$(arg compress)" name="compress_flag" value="" />
  <arg if="$(arg use_regex)" name="regex_flag" value="--regex" />
  <arg unless="$(arg use_regex)" name="regex_flag" value="" />

  <node name="rosbag_record" pkg="rosbag" type="record"
      args="-q $(arg compress_flag) -O $(arg rosbag) -b 0 
          /rosout
          /tf
          /tf_static
          /joint_states
          /map
          /odom
          /odom_combined
          /cmd_vel
          /move_base/navigation_plan_viz
          /move_base/global_plan_viz
          /move_base/local_plan_viz
          /move_base/global_costmap/footprint
          /spots_marker_array
          /spots_pictogram
          /safe_teleop_base/local_costmap/costmap
          /move_base/local_costmap/costmap
          /move_base/global_costmap/costmap
          /particlecloud
          /base_scan/throttled
          /head_camera/rgb/throttled/camera_info
          /head_camera/depth_registered/throttled/camera_info
          /head_camera/rgb/throttled/image_rect_color/compressed
          /head_camera/depth_registered/throttled/image_rect/compressedDepth
          /server_name/smach/container_init
          /server_name/smach/container_status
          /server_name/smach/container_structure
          /audio
          /caption_image
          /google_chat_ros/message_activity
          /google_chat_ros/send/cancel
          /google_chat_ros/send/feedback
          /google_chat_ros/send/goal
          /google_chat_ros/send/result
          /google_chat_ros/send/status
          /interface_dialogflow/dialog_response
          /interface_dialogflow/dialogflow_client/text_action/cancel
          /interface_dialogflow/dialogflow_client/text_action/feedback
          /interface_dialogflow/dialogflow_client/text_action/goal
          /interface_dialogflow/dialogflow_client/text_action/result
          /interface_dialogflow/dialogflow_client/text_action/status
          /interface_dialogflow/speech_to_text
          /newsapi_ros/get_top_headlines/cancel
          /newsapi_ros/get_top_headlines/feedback
          /newsapi_ros/get_top_headlines/goal
          /newsapi_ros/get_top_headlines/result
          /newsapi_ros/get_top_headlines/status
          /task_decision/cancel
          /task_decision/feedback
          /task_decision/goal
          /task_decision/result
          /task_decision/status
          /vqa/caption_result
          /vqa/caption_result/image
          /vqa/caption_result/visualize
          /vqa/caption_server/cancel
          /vqa/caption_server/feedback
          /vqa/caption_server/goal
          /vqa/caption_server/result
          /vqa/caption_server/status
          /vqa/parameter_descriptions
          /vqa/parameter_updates
          /vqa/vqa_result
          /vqa/vqa_result/image
          /vqa/vqa_result/visualize
          /vqa/vqa_server/cancel
          /vqa/vqa_server/feedback
          /vqa/vqa_server/goal
          /vqa/vqa_server/result
          /vqa/vqa_server/status
          /vqa_image
          /classification_server/cluster_server/cancel
          /classification_server/cluster_server/feedback
          /classification_server/cluster_server/goal
          /classification_server/cluster_server/result
          /classification_server/cluster_server/status
          $(arg other_topics)
          $(arg regex_flag)
          $(arg other_options)"
      output="screen" />

</launch>
