<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Main demo node -->
  <node name="go_to_kitchen_spontaneous" pkg="jsk_fetch_startup" type="go-to-kitchen-spontaneous.l"  required="true" output="screen" />

  <!-- Inference server is runned on Docker so skipping -->

  <!-- Task execution server -->
  <node name="primitive_action_server" pkg="jsk_fetch_startup" type="primitive-actions.l" required="true" output="screen" />

  <!-- News task server -->
  <node name="newsapi_ros" pkg="newsapi_ros" type="newsapi_node.py" required="true" output="screen" />


</launch>
